<div class="container">
<%= form_for(:session, url: login_path) do |f| %>

  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit 'Login', :class => 'waves-effect waves-light btn-large' %>
<% end %>
</div>
