<<<<<<< HEAD
<div class="container">
<h1>Here is the Weekly Menu</h1>

<div class="row">
  <div class="col s3">
    <h5>Appetizers</h5>
    <ul>
      <% @appetizers.each do |appetizer|%>
      <p><%= appetizer.name %></p>
      <% end %>
    </ul>
  </div>
  <div class="col s3">
    <h5>Salads</h5>
    <ul>
      <% @salads.each do |salad|%>
      <p><%= salad.name %></p>
      <% end %>
    </div>
  <div class="col s3">
    <h5>Entrees</h5>
      <ul>
    <% @entrees.each do |entree|%>
      <p><%= entree.name %></p>
    <% end %>
  </ul>
  </div>
  <div class="col s3">
    <h5>Desserts</h5>
    <ul>
    <% @desserts.each do |dessert|%>
      <p><%= dessert.name %></p>
    <% end %>
  </ul>
  </div>
</div>
=======
<div class="container">
<h1>Weekly Menu</h1>
<div class="row">
  <div class="col s3">
<h3>Appetizers</h3>
<ul>
<% @appetizers.first(5).each do |appetizer| %>
  <%= appetizer.name %>
  <% @ratings = appetizer.ratings %>
  <% @total = @ratings.reduce(0) { |sum, rating| sum += rating.value } %>
  <% @total %><br>
<% end %>
</ul>
</div>
  <div class="col s3">
<h3>Salads</h3>
<ul>
<% @salads.first(5).each do |salad| %>
  <%= salad.name %><br>
<% end %>
</ul>
</div>
  <div class="col s3">
<h3>Entrees</h3>
<ul>
<% @entrees.first(5).each do |entree| %>
  <%= entree.name %><br>
<% end %>
</ul>
</div>
  <div class="col s3">
<h3>Desserts</h3>
<ul>
<% @desserts.first(5).each do |dessert| %>
  <%= dessert.name %><br>
<% end %>
</ul>
</div>
</div>
