<h1><%= @recipe.name %></h1>
<br>
<p>Difficulty Level: <%= @recipe.difficulty %></p>
<br>
<p>Prep Time: <%= @recipe.prep_time %></p>
<br>
<p>Type: <%= @recipe.category %></p>
<br>
<p>Ingredients: <%= @recipe.ingredients %></p>
<br>
<p>Instructions: <%= @recipe.instructions %></p>
<br>


<%= link_to "<< Back to Recipes List", recipes_path %>
