

<p>
  <strong>Welcome, <%= @user.username %> </strong>
</p>

<!-- <ul>
  <% @recipes.each do |recipe| %>
  <li><a href=<%="/recipes/#{recipe.id}"%>><%="#{recipe.name}"%></a>
  </li>
<%end%>
</ul> -->


<h2>Recipes</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><%= link_to 'Show', recipe %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
