
<h1 class="menu-welcom">Welcome to ME/NU, where our community picks their menu. </h1>


</center>

<h3>How it works - (blurb about voting on menu items. )</h3>
<center>
<h4>Here are next week's menu candidates.  Please log in to vote!</h4>
</center>

<h4>Entrees</h4>
<div class="welcome-page-top-recipes entrees">
  <% @entrees.each do |entree|%>
    <p> Dish: <%= entree.name %></p>
<!--     <p>Ingredients <%= entree.ingredients %></p>
    <p>Difficutly <%= entree.difficulty %></p>
    <p>Prep Time: <%= entree.prep_time %></p>
    <p>Instructions: <%= entree.instructions %></p> -->

  <% end %>
</div>

<h4>Desserts</h4>
<div class="welcome-page-top-recipes desserts">
  <% @desserts.each do |dessert|%>
    <p> Dish: <%= dessert.name %></p>
<!--     <p>Ingredients <%= dessert.ingredients %></p>
    <p>Difficutly <%= dessert.difficulty %></p>
    <p>Prep Time: <%= dessert.prep_time %></p>
    <p>Instructions: <%= dessert.instructions %></p> -->
  <% end %>
</div>

<h4>Appetizers</h4>
<div class="welcome-page-top-recipes appetizers">
  <% @entrees.each do |entree|%>
    <p> Dish: <%= entree.name %></p>
<!--     <p>Ingredients <%= entree.ingredients %></p>
    <p>Difficutly <%= entree.difficulty %></p>
    <p>Prep Time: <%= entree.prep_time %></p>
    <p>Instructions: <%= entree.instructions %></p> -->
  <% end %>
</div>

<h4>Salads</h4>
<div class="welcome-page-top-recipes salads">
  <% @salads.each do |salad|%>
    <p> Dish: <%= salad.name %></p>
<!--     <p>Ingredients <%= salad.ingredients %></p>
    <p>Difficutly <%= salad.difficulty %></p>
    <p>Prep Time: <%= salad.prep_time %></p>
    <p>Instructions: <%= salad.instructions %></p> -->
  <% end %>
</div>







