%html
  %head
    %title ME/NU
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = link_to "Home", root_path
    = link_to "Menu", menu_path
    - if logged_in? == false
      = link_to "Register", new_user_path
      = link_to "Login", new_session_path
    - else
      = link_to "Profile", user_path(current_user)
      = link_to "Logout", logout_path

  %body
    = flash.notice
    = yield
